{{#if username}}
    {{> headerLoggedUser}}
{{else}}
    {{> header}}
{{/if}}

<div class="divisor "></div>
{{!-- CARDS --}}
<div>
    <p class="text-light text-center">Category: <span class="text-mymeme text-center">None</span></p> 
</div>

{{#if username}}
<p class="text-white">hola {{username}}</p>
{{else}}
<p class="text-white">hola nadie</p>
{{/if}}
   
    
 <div class="container-fluid">
    <div class="row justify-content-center ">
         {{#each post}}
        <div class="col-sm-12 col-md-6 card posts-mymeme cardColorMyMeme" style="width: 18rem;">
            <a href="/{{userId}}" class="btn btn-light text-mymeme btn-sm mb-2">{{username}}</a>
            <a href="/{{userId}}/{{_id}}"><img src="{{memeUrl}}" class="card-img-top" alt="userPic"></a>
            <div class="card-body">
                <h5 class="text-white">{{date}}</h5>
                <p class="card-text text-white">{{description}}</p>
                <p class="card-text text-mymeme">{{category}}</p>
            </div>
        </div>
         {{/each}}
    </div>
</div>

{{> footer}}