<div class="divisor "></div>
{{!-- USER CARDS --}}
<div>
    <p class="text-light text-center">Category: <span class="text-mymeme text-center">None</span></p> 
</div>
<div class="container-fluid">
    <div class="row justify-content-center ">
         {{#each postsUser}}
        <div class="col-sm-12 col-md-6 card posts-mymeme cardColorMyMeme" style="width: 18rem;">
            <a href="#" class="btn btn-light text-mymeme btn-sm mb-2">{{this.userInfo.username}}</a>
            <a href="/{{this.userInfo._id}}/{{this._id}}"><img src="{{this.memeUrl}}" class="card-img-top" alt="userPic"></a>
            <div class="card-body">
                <h5 class="text-white">{{this.date}}</h5>
                <p class="card-text text-white">{{this.description}}</p>
            </div>
        </div>
         {{/each}}
    </div>
</div>
