<div class="postBox">
<div class="container-fluid">
    <div class="row">
        {{#if sameUser}}
        <div>
            <a href="/{{userInfo._id}}/{{_id}}/postEdit"><img src="/images/edit_icon.png" alt=""></a>
        </div>
        {{/if}}
        <div class="blockColor singlePostUser">
            <a href="/{{userInfo._id}}" class="text-mymemeUser">{{userInfo.username}}</a>
        </div>
        <hr></hr>
        <div class="blockColor">
            <img src={{memeUrl}} class="img-fluid singlePostImg" alt="meme">
        </div>
        <div class="blockColor">
            <p class="singlePostInfo">{{description}}</p>
        </div>
    </div>
</div>
</div>

