<div class="postBox">
<div class="container-fluid">
    <div class="row">
        <div class="blockColor singlePostUser">
            <a href="/{{userInfo._id}}" class="text-mymemeUser">{{userInfo.username}}</a>
            {{#if sameUser}}
            <a href="/{{userInfo._id}}/{{_id}}/postEdit"><img class="editPencil" src="/images/edit_icon.png" alt="edit icon"></a>
            {{/if}}
        </div>
        <div class="blockColor">
            <img src={{memeUrl}} class="img-fluid singlePostImg" alt="meme">
        </div>
        <div class="blockColor">
            <p class="singlePostInfo">{{description}}</p>
        </div>
    </div>
</div>
</div>

