

<form action="/{{idUser}}/{{idPost}}" method="POST" class="w-25 mx-auto m-5">
    <div class="mb-3">
        <label for="file">Change your meme</label>
        <input type="file" class="form-control-file" id="file" name="memeUrl">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-control" id="category" name="category" value="{{category}}"></select>
            {{#each post.category}}
                <option value="{{this.category}}">{{category}}</option>
            {{/each}}
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label> 
        <input type="text" class="form-control" id="description" name="description" value="{{description}}">
    </div>
        <a class="btn btn-primary m-3" href="/{{this._id}}/edit">Save</a>
        <button class="btn btn-secondary" type="submit">Delete</button>
</form>